.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 16px;
}

.ant-table-thead > tr > th, 
.ant-modal-header,
.ant-btn-primary
 {
    background: rgba(0, 21, 41, 0.9);
    color: white;
  }
  
  .ant-modal-title, .ant-modal-close-x {
      color: white;
  }


.ant-btn-primary {
    border: 1px solid rgba(0, 21, 41, 0.9);
}

.ant-btn:hover, .ant-btn:focus {
    color: rgba(0, 21, 41, 0.9);
    background: white;
    border: 1px solid rgba(0, 21, 41, 0.9);
}

.ant-input:hover,
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled){
    border: 1px solid rgba(0, 21, 41, 0.9);
}